main {
    margin:20px auto 50px auto
}

section {
    margin:0 0 20px 0;
}

.pa1 {
    width:100%;
    display:flex;
    border:1px solid lightgray;
}
.pa1 .basic {
    /*width:75%;*/
    flex:1;
}
.pa1 .basic .titdate {
    padding:10px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:#DDDDDD;
    border:1px solid lightgray;
}
.pa1 .basic .titdate .tres {
    font-size:22px;
    font-weight:bold;
}
.pa1 .basic .name1 {
    padding:10px;
    display:flex;
    align-items:center;
    border:1px solid lightgray;
}
.pa1 .basic .name1 .n10 {
    width:150px;
    color:gray;
}
.pa1 .basic .name1 .n11 {
    
}
.pa1 .basic .name2 {
    padding:10px;
    border:1px solid lightgray;
}
.pa1 .basic .name2 .n20 {
    color:gray;
}
.pa1 .basic .name2 .n21 {
    text-align:center;
    font-size:24px;
}
.pa1 .basic .subdat {
    display:flex;
    align-items:stretch;
    text-align:center;
}
.pa1 .basic .subdat .sd1 {
    padding:10px;
    flex:1;
    border:1px solid lightgray;
}
.pa1 .basic .subdat .sd2 {
    padding:10px;
    flex:0.5;
    border:1px solid lightgray;
}
.pa1 .basic .subdat .sd2s {
    display:flex;
    align-items:center;
    justify-content:center;
}
.pa1 .basic .subdat .sd2 .cir {
    padding:5px;
    border:1px solid black;
    border-radius:50%;
}
.pa1 .photo {
    /*width:25%;*/
    flex:0.25;
    padding:10px;
    border:1px solid lightgray;
}
.pa1 .photo img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.pa2 {
    display:flex;
    border-left:1px solid lightgray;
    border-right:1px solid lightgray;
    border-bottom:1px solid lightgray;
}
.pa2 .addr {
    /*width:75%;*/
    flex:1;
}
.pa2 .addr .adin1 {
    padding:10px;
    display:flex;
    align-items:center;
    border:1px solid lightgray;
}
.pa2 .addr .adin1 .n10 {
    width:150px;
    color:gray;
}
.pa2 .addr .adin1 .n11 {

}
.pa2 .addr .adin2 {
    padding:10px;
    display:flex;
    align-items:center;
    border-top:1px solid lightgray;
    border-left:1px solid lightgray;
    border-right:1px solid lightgray;
}
.pa2 .addr .adin2 .n20 {
    width:150px;
    color:gray;
}
.pa2 .addr .adin2 .n21 {

}
.pa2 .addr .adin3 {
    padding:10px;
    border-left:1px solid lightgray;
    border-right:1px solid lightgray;
    border-bottom:1px solid lightgray;
    text-align:center;
    font-size:14px;
}
.pa2 .cont {
    /*width:25%;*/
    flex:0.25;
    padding:10px;
    border:1px solid lightgray;
}

.pa3 {
    border:1px solid lightgray;
}
.pa3 .phead {
    background-color:#DDDDDD;
    font-weight:bold;
}
.pa3 .pitem {
    width:100%;
    display:flex;
    align-items:center;
}
.pa3 .pitem .pi1 {
    width:100px;
    padding:10px;
    border:1px solid lightgray;
    text-align:center;
}
.pa3 .pitem .pi2 {
    width:80px;
    padding:10px;
    border:1px solid lightgray;
    text-align:center;
}
.pa3 .pitem .pi3 {
    flex:1;
    padding:10px;
    border:1px solid lightgray;
}
.pa3 .pitemfl {
    width:100%;
}
.pa3 .pitemfl .pi0 {
    padding:10px;
    border:1px solid lightgray;
}

@media (min-width:801px) {
    main {
        width:800px;
    }
}

@media (max-width:800px) {

}



@media print {
    .pa1, .pa2 {
        display:block;
        overflow:hidden;
    }
    .pa1 .basic {
        float:left;
        width:550px;
    }
    .pa1 .photo {
        float:left;
        width:140px;
    }
    .pa2 .addr {
        float:left;
        width:550px;
    }
    .pa2 .cont {
        float:left;
        width:140px;
    }
}