.proarea {
    display:grid;
    grid-template-columns:3fr 1fr;
}

.pro1 {
    border:1px solid lightgray;
    border-right:none;
}

.pro2 {
    border:1px solid lightgray;
}

.reshd {
    background-color:#DDDDDD;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:10px;
    border-bottom:1px solid lightgray;
}
.restit {
    font-size:24px;
    font-weight:bold;
}
.resdate {
    font-size:14px;
}

.furi-r {
    display:grid;
    grid-template-columns:150px 1fr;
    align-items:center;
    border-bottom:1px solid lightgray;
    padding:10px;
    font-size:14px;
}

.imlbl {
    color:gray;
}

.furiin {
    
}

.name-r {
    border-bottom:1px solid lightgray;
    padding:10px;
}

.nalbl {
    font-size:24px;
    text-align:center;
}

.bas {
    display:grid;
    grid-template-columns:2fr 1fr 1fr;
}

.bascell {
    border-right:1px solid lightgray;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    padding:10px;
    font-size:14px;
}

.bascell:last-child {
    border-right:none;
}

.gender {
    flex-direction:row;
    gap:3px;
}

.gender-circle {
    display:inline-flex;
    align-items:center;
    justify-content:center;
    width:27px;
    height:27px;
    border:1px solid #000;
    border-radius:50%;
}

.pho {
    height:203px;
}

.pho img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.addre {
    display:grid;
    grid-template-columns:3fr 1fr;
}

.addre-left {
    border:1px solid lightgray;
    border-top:none;
    border-right:none;
}

.addre-right {
    border:1px solid lightgray;
    border-top:none;

    padding:10px;

    font-size:14px;
}

.addre-furi {
    display:grid;
    grid-template-columns:150px 1fr;
    align-items:center;

    padding:10px;
    border-bottom:1px solid lightgray;
}

.addre-content {
    display:grid;
    grid-template-columns:150px 1fr;
    padding:10px;
}

.addre-value {
    font-size:14px;
}

.contitem {
    margin-bottom:22px;
}

.contitem:last-child {
    margin-bottom:0;
}

.restbl {
    width:100%;
    border-collapse:collapse;
    table-layout:fixed;
    font-size:14px;
}

.restbl th,
.restbl td {
    border:1px solid lightgray;
    padding:10px;
}

.restbl th {
    background-color:#DDDDDD;
    font-weight:bold;
}

.restbl .hd1 {
    text-align:center;
}

.restbl .hdy {
    width:100px;
}

.restbl .hdm {
    width:80px;
}

@media (min-width:801px) {
    main {
        width:800px;
    }
}
@media (max-width:800px) {

}

@media print {

    body {
        padding:0;
    }

    .resume {
        width:800px;
    }

}